Using some advanced SHAP methodes to have a better look at Hospital's data

In [4]:
import numpy as np
import pandas as pd
import zipfile

# data_url = 'https://github.com/bvpotapenko/notebooks-collection/blob/main/data/medical.train.csv.zip'
data_url = "./data/medical.train.csv.zip"
# try:
#         with zipfile.ZipFile(data_url, mode="r") as archive:
#             data = pd.read_csv(archive.read("train.csv"))
# except zipfile.BadZipFile as error:
#       print(error)
data = pd.read_csv(data_url)

data.describe()

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,readmitted
count,25000.000000,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.00000,25000.000000,25000.000000
mean,4.395640,42.96012,1.341080,15.988440,0.365920,0.203280,0.64300,7.420160,0.456400
std,2.991165,19.76881,1.705398,8.107743,1.224419,0.982973,1.26286,1.940932,0.498105
min,1.000000,1.00000,0.000000,1.000000,0.000000,0.000000,0.00000,1.000000,0.000000
25%,2.000000,31.00000,0.000000,10.000000,0.000000,0.000000,0.00000,6.000000,0.000000
50%,4.000000,44.00000,1.000000,15.000000,0.000000,0.000000,0.00000,8.000000,0.000000
75%,6.000000,57.00000,2.000000,20.000000,0.000000,0.000000,1.00000,9.000000,1.000000
max,14.000000,126.00000,6.000000,81.000000,36.000000,64.000000,21.00000,16.000000,1.000000

Test